#liveblog-container fieldset#liveblog-actions legend ul,
#liveblog-container fieldset#liveblog-actions legend li {
	display: inline;
	list-style-type: none;
	margin: 0;
}

#liveblog-container #liveblog-entries .liveblog-entry {
	border: 1px solid #DDD;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
}

#liveblog-container #liveblog-entries .liveblog-entry header {
	padding-top: 10px;
	padding-bottom: 10px;
}

#liveblog-container #liveblog-entries .liveblog-entry header .liveblog-author-name {
	color: #AAA;
	font-weight: normal;
	margin-left: 10px;
}

#liveblog-container #liveblog-entries .liveblog-entry-text {
	font-size: 14px;
	padding-top: 0;
	margin-left: 55px;
}

#liveblog-container #liveblog-entries .liveblog-entry-text p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#liveblog-container #liveblog-entries ul.liveblog-entry-actions {
	list-style-type: none;
	float: right;
}

#liveblog-container #liveblog-entries ul.liveblog-entry-actions li {
	display: inline-block;
}

#liveblog-container #liveblog-entries ul.liveblog-entry-actions li button {
	background-color: #CCC;
	border:1px solid #CCC;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	color: #888;
}

#liveblog-container #liveblog-entries ul.liveblog-entry-actions li button:hover {
	color: #222;
	border-color: #888;
}