#header {
	padding-top: 10px;
	padding-bottom: 0px;
}

#home-featured {
	padding-bottom: 15px;
}

#home-featured-secondary {
	float: right;
	width: 320px;
}

#home-featured-primary {
	position: relative;
	width: 600px;
}

#home-featured-primary-details {
	color: #EFEFEF;
	background-color: #14545F;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: -3px;
}

#home-featured-primary-details h3 a {
	color: #FFF;
}

#home-featured-primary-details p {
	font-size: 14px;
	line-height: 20px;
}

#home-featured-secondary .home-featured-byline {
	font-size: 12px;
	color: #888;
}

#home-featured-secondary ul li {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

#home-featured-secondary ul li h5 {
	font-size: 16px;
}

#home-featured-secondary ul li h5 a {
	color: #14545F;
}

#home-featured-secondary ul li p {
	font-size: 13px;
	line-height: 19px;
}

#newsroom-title {
	background-color: #EF3500;
	width: auto;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-right: 15px;
	color: #FFF;
	text-transform: uppercase;
	text-align: right;
}

#sponsor-rail {
	float: right;
}

#session-updates {
	float:left;
	width: 594px;
	border: 3px solid #EF3500;
}

#session-updates-title,
#featured-sessions-title {
	background-color: #EF3500;
	width: auto;
	padding-top: 3px;
	padding-bottom: 5px;
	color: #FFF;
	text-transform: uppercase;
	padding-left: 15px;
}

#featured-sessions-title a.see-all {
	float: right;
	margin-right: 15px;
	color:rgba(255, 255, 255, 0.6);
}

ul#featured-sessions li.single-session {
	float: left;
	width: 275px;
	min-height: 75px;
	margin: 10px;
}

ul#featured-sessions li ul.session-details li {
	margin-left: 5px;
	padding-left: 5px;
	display: inline;
	border-left: 1px solid #BBB;
}

ul#featured-sessions li ul.session-details li:first-child {
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}

ul#featured-sessions li ul li,
ul#featured-sessions li ul li a {
	color:#888;
	font-size: 12px;
}

#session-updates ul#liveblog-updates li {
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #EFEFEF;
}

#session-updates ul#liveblog-updates li:first-child {
	border-top: none;
}

#session-updates ul#liveblog-updates li .liveblog-entry-text {
	margin-bottom: 15px;
}

#session-updates ul#liveblog-updates li .liveblog-meta {
	color: #BBB;
	font-size: 12px;
	text-align: right;
}