.single-ona12_session #header,
.archive #header {
	display: none;
}

.single-ona12_session #sidebar #sidebar-logo,
.archive #sidebar #sidebar-logo {
	padding-top: 10px;
}

.single-ona12_session #sidebar #sidebar-logo h3,
.archive #sidebar #sidebar-logo h3 {
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

.archive .session-day h3 {
	text-transform: uppercase;
	font-weight: normal;
	border-top: 1px solid #DDD;
	padding-top: 10px;
}

.archive .session-day h3 a {
	margin-right: 30px;
	color: #BBB;
}

.archive .session-day h3 a.active {
	color:#F15822;
}

.archive .session-day {
	clear: left;
}

.archive .session-day .session-start-time {
	float: left;
	width: 75px;
	text-transform: uppercase;
	margin-top: 10px;
}

.archive .session-day .session-time-block {
	border-top: 1px solid #DDD;
	padding-top: 10px;
	padding-bottom: 10px;
}

.archive .session-day .session-time-block ul.session-list {
	margin-left: 80px;
}

.archive .session-day .session-time-block ul li.single-session {
	float: left;
	width: 260px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 200px;
}

.archive .session-day .session-time-block ul.session-count-1 li.single-session {
	width:auto;
	min-height: auto;
}

.archive .session-day .session-time-block ul li h4 {
	margin-bottom: 0;
}

.archive .session-day .session-time-block ul li ul.session-details {
	margin-top: 2px;
	margin-bottom: 8px;
}

.archive .session-day .session-time-block ul li ul.session-details li {
	display: inline-block;
	font-size: 11px;
	margin-right: 5px;
	padding-left: 5px;
	border-left: 1px solid #BBB;
}

.archive .session-day .session-time-block ul li ul.session-details li:first-child {
	border:none;
	padding-left:0;
}

.archive .session-day .session-time-block ul li ul.session-details li a {
	color: #888;
}

.archive .session-day .session-time-block ul li .session-description {
	font-size: 14px;
	line-height: 18px;
}

.single-ona12_session .session-navigation {
	font-size: 12px;
	margin-bottom: 10px;
}

.single-ona12_session .session-presenters {
	float: left;
	width: 150px;
	margin-top: 1.6em;
	margin-right: 20px;
}

.single-ona12_session #livestream-player {
	padding-top: 25px;
}

.single-ona12_session #livestream-notice {
	padding-top: 5px;
	font-size: 11px;
	font-style: italic;
	color: #888;
}

.single-ona12_session .session-presenters.multiple-presenters {
	width: 200px;
}

.single-ona12_session .session-presenters h4 {
	color: #F15822;
	text-transform: uppercase;
}

.single-ona12_session .session-presenters.multiple-presenters li {
	margin-top: 20px;
	margin-bottom: 2px;
}

.single-ona12_session .session-presenters.multiple-presenters li .presenter-avatar {
	float: left;
}

.single-ona12_session .session-presenters.multiple-presenters li .presenter-avatar img {
	border: 1px solid #EFEFEF;
}

.single-ona12_session .session-presenters.multiple-presenters li .presenter-details {
	margin-left: 60px;
}

.single-ona12_session .session-presenters li .presenter-details h5 {
	color: #333;
	font-weight: normal;
	margin-top: 10px;
}

.single-ona12_session .session-presenters li .presenter-affiliation {
	font-size: 12px;
	font-style: italic;
}

.single-ona12_session .session-presenters li .presenter-twitter {
	font-size: 12;
}

.single-ona12_session .session-details {
	margin-top: 15px;
}

.single-ona12_session .session-details ul li {
	list-style-type: none;
	display: inline;
	border-left: 1px solid #888;
	padding-left: 15px;
	margin-left: 15px;
	color: #444;
}

.single-ona12_session .session-details ul li:first-child {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}

.single-ona12_session h2 {
	font-size: 30px;
}