.single-ona12_session #header,
.post-type-archive-ona12_session #header {
	display: none;
}

.single-ona12_session #session-left-sidebar #sidebar-logo
.post-type-archive-ona12_session #session-left-sidebar #sidebar-logo {
	padding-top: 10px;
}

.post-type-archive-ona12_session .session-day h3 {
	text-transform: uppercase;
	font-weight: normal;
	border-top: 1px solid #DDD;
	padding-top: 10px;
}

.post-type-archive-ona12_session .session-day h3 a {
	margin-right: 30px;
	color: #BBB;
}

.post-type-archive-ona12_session .session-day h3 a.active {
	color:#F15822;
}

.post-type-archive-ona12_session .session-day {
	clear: left;
}

.post-type-archive-ona12_session .session-day .session-start-time {
	float: left;
	width: 70px;
	text-transform: uppercase;
}

.post-type-archive-ona12_session .session-day .session-time-block {
	border-top: 1px solid #DDD;
	padding-top: 10px;
	padding-bottom: 10px;
}

.post-type-archive-ona12_session .session-day .session-time-block ul {
	margin-left: 80px;
}

.post-type-archive-ona12_session .session-day .session-time-block ul li {
	float: left;
	width: 260px;
	margin-left: 15px;
	margin-right: 15px;
}

.post-type-archive-ona12_session .session-day .session-time-block ul li .session-description {
	font-size: 14px;
	line-height: 18px;
}

.single-ona12_session .session-navigation {
	font-size: 12px;
	margin-bottom: 10px;
}

.single-ona12_session .session-presenters {
	float: left;
	width: 150px;
	margin-top: 1.6em;
	margin-right: 20px;
}

.single-ona12_session .session-presenters.multiple-presenters {
	width: 200px;
}

.single-ona12_session .session-presenters h4 {
	color: #F15822;
	text-transform: uppercase;
}

.single-ona12_session .session-presenters.multiple-presenters li {
	margin-top: 20px;
	margin-bottom: 2px;
}

.single-ona12_session .session-presenters.multiple-presenters li .presenter-avatar {
	float: left;
}

.single-ona12_session .session-presenters.multiple-presenters li .presenter-details {
	margin-left: 60px;
}

.single-ona12_session .session-presenters li .presenter-details h5 {
	color: #333;
	font-weight: normal;
}

.single-ona12_session .session-presenters li .presenter-affiliation {
	font-size: 12px;
	font-style: italic;
}

.single-ona12_session .session-details {
	margin-top: 15px;
}

.single-ona12_session .session-details ul li {
	list-style-type: none;
	display: inline;
	border-left: 1px solid #888;
	padding-left: 15px;
	margin-left: 15px;
	color: #444;
}

.single-ona12_session .session-details ul li:first-child {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}

.single-ona12_session h2 {
	font-size: 30px;
}